/Assignments/Assignment6/Assignment1_rework/Assignment1Rework/nbproject/private/
/Assignments/Assignment6/Assignment1_rework/Assignment1Rework/build/
/Assignments/Assignment6/Assignment6/nbproject/private/
/Assignments/Assignment6/test/nbproject/private/
/Assignments/Assignment6/Assignment6/build/
/Assignments/Assignment7/Assignment7_Part1/nbproject/private/
/Assignments/Assignment7/Assignment7_Part1/build/
/Assignments/Assignment7/Assignment7_Part1/dist/
/InClassWork/ArrayProcessingRecursive/nbproject/private/
/InClassWork/ArrayProcessingRecursive/build/
/InClassWork/GCDRecusive/nbproject/private/
/InClassWork/GCDRecusive/build/
/InClassWork/Assignment7_Part2/nbproject/private/
/InClassWork/Assignment7_Part2/build/
/Assignments/Assignment7/Assignment7_Part2/nbproject/private/
/InClassWork/SearchingSortingPrimitive/nbproject/private/
/InClassWork/SearchingSortingPrimitive/build/
/InClassWork/SearchingSortingPrimitive/dist/
/InClassWork/BigONotations/nbproject/private/
/InClassWork/BigONotations/build/
/InClassWork/PrefixAverages/nbproject/private/
/InClassWork/PrefixAverages/build/
/InClassWork/LinkedList/nbproject/private/
/InClassWork/LinkedList/build/
/InClassWork/LinkedList/dist/
/InClassWork/Ch20-LinkedList/LinkedList/build/
/InClassWork/Ch20-LinkedList/LinkedList/dist/
/InClassWork/Ch21-StackQueue/Stack/MyArrayListStackClient/nbproject/private/
/InClassWork/Ch21-StackQueue/Stack/MyArrayListStackClient/build/
/Assignments/Assignment9/nbproject/private/
/Assignments/Assignment9/build/
/Assignments/Assignment_10/nbproject/private/
/Assignments/Assignment_10/build/
/Assignments/Assignment_10/dist/
/Assignments/Assignment11/nbproject/private/
/Assignments/Assignment11/build/
/Assignments/Assignment11/dist/
/Assignments/BinarySearchTreeProject/nbproject/private/
/Assignments/BinarySearchTreeProject/build/
/Assignments/HeapPriorityQueueClient/nbproject/private/
/Assignments/Assignment12/nbproject/private/
/Assignments/HeapPriorityQueueClient/build/
/Assignments/Assignment12/build/
/Assignments/MyArrayListClient/nbproject/private/